@font-face {
  font-family: RobotoLight;
  src: url('./Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./Roboto/Roboto-Regular.ttf');
}

/* body {
  font-family: Roboto;
  background-color: red;
} */

.App {
  font-family: Roboto !important;
  background-image: linear-gradient(rgb(127, 71, 221), #f7ddfc);
  height: auto !important;
  min-height: 100vh;
}

.Mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.MobileText {
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 90vw;
  text-align: center;
  padding: 1rem;
}

.loadingImg {
  width: 90%;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: white;
}

nav a {
  display: inline-block;
  margin: 1em;
}
.AccSettingsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AuthDiv {
  display: flex;
  justify-content: center;
  /* height: 100%; */
}

.FormDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 40vw;
  /* height: 80vh; */
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.AccSettings {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
}

.AuthForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
}

.labelText {
  font-size: 1.5rem;
}

.UserHomeDiv {
  font-family: Roboto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
}

.GoalCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-bottom: 5px;
}

.GoalsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 70vw;
}
.GoalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GoalsListDiv {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 50vw;
  padding-top: 1rem;
  /* justify-content: space-around; */
}

.editLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkBox {
  width: 3rem;
  height: 3rem;
}

.goalDescription {
  /* padding-left: 2rem; */
  font-family: RobotoLight;
}

.DailyEntryDiv {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px #c471ed;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 1.5rem;
}

.DailyDiv {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alertDialog {
  padding: 1.5rem;
}

.entryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greetingDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.complimentDiv {
  display: flex;
  height: 50%;
  font-size: 1.5rem;
  padding: 1rem;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  border-radius: 15px;
  box-shadow: 5px 5px purple;
}

.complimentButton {
  display: flex;
  align-self: flex-end;
  width: 30%;
}

.NavButtons {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  color: white;
}

.goodnightDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goodnightQuote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 50%;
  padding: 2rem;
}

h4 {
  opacity: 70%;
}

.flipImg {
  transform: rotate(180deg);
}

.Oneline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.EditIcon {
  padding-left: 5px;
}

.Mui-selected {
  color: white;
}

.MuiBottomNavigation-root {
  color: #84ffff;
}

.CalendarHeatmapDiv {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  width: 95vw;
}
.CalOverview {
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  /* text-align: center; */
}
.DataOverview {
  display: flex;
  text-align: center;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 60vw;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.DataOverview h1 {
  font-size: 1.5rem;
}

.DataOverview h3 {
  font-size: 1.3rem;
}

.feedback {
  display: flex;
  justify-content: center;
}

.MuiToggleButton-root.Mui-selected {
  background-color: red;
}

.complimentDiv h3 {
  font-size: 1.5rem;
}

.GoalsListDiv h3 {
  font-size: 1.5rem;
}

.UserHomeDiv h3 {
  font-size: 1.5rem;
}

.goodnightDiv h4 {
  font-size: 1.3rem;
}

.goodnightDiv h3 {
  font-size: 1.5rem;
}

.MobileCalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;
  height: 100%;
}

.MobileCalDiv h1 {
  font-size: 1.5rem;
}

.mobileDayOverview {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
  width: 90%;
  padding: 1rem;
}

.MobileCalDiv h3 {
  font-size: 1.3rem;
}

hr {
  border: 0;
  width: 96%;
  color: #ffff00;
  height: 1px;
}

.react-calendar__tile {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.react-calendar__month-view__days__day {
  color: rgb(100, 100, 100) !important;
}

.react-calendar {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 2px solid #12c2e9;
  box-shadow: 5px 5px purple;
  border-radius: 15px;
}

.react-calendar__tile--active {
  background: linear-gradient(45deg, #f7ddfc 20%, #91eae4 90%) !important;
  border-radius: 20 !important;
}

.react-calendar__tile--now {
  background-color: white !important;
}

.destroyDiv {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.calendarWelcomeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarWelcomeDiv h3 {
  font-size: 1.3rem;
  text-align: center;
}

/* .react-calendar__month-view__days__day--weekend {
  color: black;
} */
@media only screen and (max-width: 700px) {
  .AuthDiv {
    padding-top: 2rem;
  }
  .FormDiv {
    width: 80vw;
  }
  .AuthForm {
    width: 100%;
  }
  #alert {
    padding-top: 2rem;
    width: 90%;
  }
  .UserHomeDiv h3 {
    font-size: 1.3rem;
  }
  .UserHomeDiv h4 {
    font-size: 1rem;
  }
  .greetingDiv {
    align-items: center;
  }
  .greeting {
    padding-right: 1rem;
  }
  .complimentDiv {
    width: 100%;
  }
  .complimentButton {
    width: 40%;
  }
  .GoalDiv h3 {
    font-size: 1.3rem;
  }
  .GoalsListDiv {
    width: 90vw;
  }
  .GoalsList {
    width: 95%;
  }
  .GoalCheck {
    width: 100%;
  }
  .DailyDiv {
    width: 100vw;
  }
  .DailyEntryDiv {
    width: 90%;
  }
  .MuiFormControl-root {
    width: 20rem !important;
  }
  .MuiFormLabel-root {
    width: 15rem !important;
  }
  .MuiInputBase-root {
    width: 18rem !important;
  }
  .MuiSlider-root {
    width: 17rem !important;
  }
  .MuiSlider-markLabel {
    font-size: 1.7rem !important;
  }
  .goodnightQuote {
    width: 95%;
  }
  .goodnightDiv {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .AccSettings {
    width: 90vw;
  }
  /* .mobileDayOverview {
    margin-bottom: 6rem;
  } */
  .MobileCalDiv {
    padding-bottom: 6rem;
  }
  .mobileOverview {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #12c2e9;
    box-shadow: 5px 5px purple;
    border-radius: 15px;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
