@font-face {
  font-family: RobotoLight;
  src: url('./Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./Roboto/Roboto-Regular.ttf');
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.AuthDiv {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AuthForm {
  padding: 30px;
  width: 500px;
}

.labelText {
  font-size: 1.5rem;
}

.UserHomeDiv {
  font-family: Roboto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
}

.GoalCheck {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.GoalsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.GoalsListDiv {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.checkBox {
  width: 3rem;
  height: 3rem;
}

.goalDescription {
  padding-left: 2rem;
  font-family: RobotoLight;
}

.DailyEntryDiv {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
